<h1>Editing Book</h1>
<%= flash[:notice] %>

<%= form_with model: @book do |f| %>

  <a>Title</a><br>
  <%= f.text_field :title %><br>
<br>
  <a>Body</a><br>
  <span><%= f.text_area :body %></span><br>

<br>
  <span><%= f.submit 'Update Book' %></span><br>
  <br>
  <span>
    <%= link_to "Show", book_path(@book.id) %> ｜
    <%= link_to "Back", "/books" %>
  </span>
<% end %>