<div><%= flash[:notice] %></div>
<div><%= flash[:success] %></div>

<br>
  <a>Title: </a>
  <span><%= @book.title %></span>
<br>
  <a>Body: </a>
  <span><%= @book.body %></span>
<br>
  <span>
    <%= link_to "Edit", edit_book_path(@book.id) %> ｜
    <%= link_to "Back", "/books" %>
  </span>