<div>
  <%= flash[:notice] %>
</div>

<br>
  <a>Title</a><br>
  <span><%= @book.title %></span>
<br>
  <a>Body</a><br>
  <span><%= @book.body %></span>
<br>
<br>

  <span>
    <%= link_to "Edit", edit_book_path(@book.id) %> ｜
    <%= link_to "Back", "/books" %>
  </span>